nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width:100%;
    background-color: #4056A1;
    color: #FFFFFF;
    position: fixed;
    z-index: 2;
}
nav span {
    font-family: 'Bungee';
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.navMessage {
    text-align: center;
}